.btn {
  padding: 5px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: olive;
  background-color: hsl(0, 0%, 60%);
  border-color: olive;
}

.btn:active {
  color: hsl(120, 100%, 20%);
  border-color: hsl(120, 100%, 20%);
}
