.navlink {
  display: inline-flex;
  color: olive;
  font-size: 24px;
  text-decoration: none;
  padding: 10px;
}

.navlink:hover {
  color: hsl(60, 100%, 40%);
}

.username {
  display: inline-flex;
  font-size: 20px;
  margin: 0;
  margin-right: 25px;
  color: chocolate;
}
